@model TheHotelApp.Models.Customer

@{ ViewData["Title"] = "Details"; }

<!-- Start Page Header -->
<div class="page-header">
    <h1 class="title">Customer</h1>
    <ol class="breadcrumb">
        <li><a asp-action="Index">Customer Info</a></li>
        <li class="active">Details</li>
    </ol>
    <!-- Start Page Header Right Div -->
    <div class="right">
        <a asp-action="edit" asp-route-id="@Model.ID" class="btn btn-option3 btn-lg">Edit Customer</a>
    </div>
</div>
<!-- End Page Header -->
<!-- START CONTAINER -->
<div class="container-padding">
    <div class="row">
        <div class=" col-md-6">
            <div class="panel panel-default">
                <div class="panel-title">
                    Customer Details

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="col-sm-4">
                                <b>CustomerName: </b>
                            </p>
                            <p class="col-sm-8">
                                @Model.CustomerName
                            </p>
                        </div>


                        <div class="col-sm-12">
                            <p class="col-sm-4">
                                <b>Address: </b>
                            </p>
                            <p class="col-sm-8">
                                @Model.PrimaryAddress
                            </p>
                        </div>

                        <div class="col-sm-12">
                            <p class="col-sm-4">
                                <b>CustomerNumber: </b>
                            </p>
                            <p class="col-sm-8">
                                @Model.ID
                            </p>
                        </div>

                        <div class="col-sm-12">
                            <p class="col-sm-4">
                                <b>PhoneNumber: </b>
                            </p>
                            <p class="col-sm-8">
                                @Model.CustomerPhone
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- ================================================
    Data Tables
    ================================================ -->
    <script src="~/js/datatables/datatables.min.js"></script>

    <script>$(document).ready(function () {
                $('#example0').DataTable();
            });</script>

    <script>$(document).ready(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [
                        { "visible": false, "targets": 2 }
                    ],
                    "order": [[2, 'asc']],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({ page: 'current' }).nodes();
                        var last = null;

                        api.column(2, { page: 'current' }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before(
                                    '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                                );

                                last = group;
                            }
                        });
                    }
                });

                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    }
                    else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });</script>

}


